.roof{
    /* border-top: 150px solid transparent;
    border-bottom: 150px solid transparent;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent; */
    background-color: chocolate;
    clip-path: polygon(50% 0%,0 100%, 100% 99%);
    text-align:center;
    height:10%;
    padding:10%;
  }
  .App{
      margin-right: 25%;
      margin-left: 25%
  }
  .pillar{
      background-color:black;
      clip-path:  fill-box circle(25% at 25% 25%);
      color:white;
      margin-right: 95%;
      height: 10%;
      padding-top: 20%;
      display:flex;
    
      }
      li{
          list-style: none;
          display: inline-block;
          margin-left: 30%;
      }
      .window{
          background-color: rgb(184, 56, 56);
          text-align: center;
          margin-left: 90%;
          margin-right: 6%;
          padding-bottom: 15%;
          margin-bottom:1%
          }
        .door{
            background-color:brown;
            text-align: center;
            margin-left: 30%;
            margin-right: 60%;
            padding-bottom: 15%;
            

        }
        .wall{
            background-color:bisque;
            
        }
        .wall{
            display: flex;
        }
        .window{
            flex: 2;
            flex-direction: row;
            margin-right: 10%;
        }
        .window{
            margin-left:0%;
            /* justify-content: space-around; */
           height: 20%
        }
        .window{
            padding:5%
        }
        .Door{
          padding:2%  
        }
        .decking{
            background-color: black;
            color: white;
            text-align: center;
        }
        .floor{
            background-color:rgb(155, 106, 43);
            text-align: center;
        }
        .foundation{
            background-color:chocolate;
            text-align: center;
        }